training_data/*
sdrcc/raspberry-pi/*.pyc
sdrcc/server/*.pyc
sdrcc/selfdrive/*.pyc
sdrcc/selfdrive/monark_pc/*.h5
sdrcc/selfdrive/monark_pc/*.json
sdrcc/selfdrive/gautam_pc/*.h5
sdrcc/selfdrive/gautam_pc/*.json
.*
*/#*#
*/.#*#
#*#
.#*#
.DS_Store
*/.DS_Store
